ul {
    list-style-type: none;
  }
a {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-size: 2rem;
  color: grey;
}
h4 {
  font-size: 1.3rem;
  color: grey;
}

.port-container {
  width: 26vw;
}
.img-container {
  width: 100%;
}

.subpage-container {
  padding: 1.5em;
}
